.footer {
  background: var(--futurest-black);
  color: var(--futurest-white);
  font-family: MulishBold;
}

.footer a {
  text-decoration: none;
  color: grey;
  font-family: MulishLight;
}

.footer a:hover {
  color: var(--futurest-green);
}
