.footer {
    background: var(--futurest-black);
    color: var(--futurest-white);
}

.footer h3 {
    font-size: 1.25rem;
    font-family: MulishSemiBold;
}

.footer a {
    text-decoration: none;
    color: grey;
    font-family: MulishLight;
    font-size: 1rem;
}

.footer a:hover {
    color: var(--futurest-green);
}