Options +FollowSymlinks
RewriteEngine on
AddDefaultCharset UTF-8

RewriteCond %{REQUEST_URI} ^/?src/controller/function/?$ [NC]
RewriteRule ^(.*)$ /controller/function [NC,R,L]

<FilesMatch ".(eot|ttf|otf|woff)">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch> 