/* Jumbotron */

#jumbotron {
    height: 730px;
}

#jumbotron::before {
    content: "";
    background-image: url("../../img/contact-parallax-test.jpg");
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.2;
}

#jumbotron h1 {
    font-size: 50px;
    font-family: MulishBold;
}

#jumbotron p {
    font-size: 20px;
    font-family: MulishRegular;
}


/* Sosmed */

#sosmed {
    height: 730px;
}

#sosmed h2 {
    color: var(--futurest-black);
    font-size: 40px;
    font-family: MulishSemiBold;
}

#sosmed .card-sosmed {
    background: #f4f4f4;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    color: var(--futurest-black);
    box-shadow: 1px 0 10px #c4c4c4;
}

#sosmed .card-sosmed .bi {
    font-size: 50px;
}

#sosmed .card-sosmed h4 {
    font-family: MulishLight;
}

#sosmed .card-sosmed:hover {
    transform: scale(1.04);
    background: #cecece;
    color: var(--futurest-teal);
}


/* Contact Us */

#contact-us {
    background: #e3e3e3;
    height: 730px;
}

#contact-us h2 {
    font-family: MulishSemiBold;
}

#contact-us label {
    font-family: MulishLight;
    font-size: 23px;
}

#contact-us form input,
#contact-us form textarea {
    font-family: MulishRegular;
    font-size: 18px;
}

#contact-us form input:focus,
#contact-us form textarea:focus {
    outline: 4.3px solid var(--futurest-teal);
}

#contact-us button {
    background: var(--futurest-teal);
    transition: all 0.3s ease;
    border-radius: 14px;
    color: var(--futurest-white);
    font-family: MulishRegular;
}

#contact-us button:hover {
    transform: scale(0.93);
}

@media screen and (max-width: 576px) {
    #jumbotron h1 {
        font-size: 40px;
    }
    #sosmed h2 {
        font-size: 30px;
    }
    #sosmed .card-sosmed .bi {
        font-size: 35px;
    }
}