/* Jumbotron */
#jumbotron {
	height: 730px;
}

#jumbotron::before {
	content: "";
	background-image: url("../../img/event-parallax-test.jpg");
	position: absolute;
	background-size: cover;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	opacity: 0.4;
}

#jumbotron h1 {
	font-size: 50px;
	font-family: MulishBold;
}

#jumbotron p {
	font-size: 20px;
	font-family: MulishRegular;
}

#jumbotron i {
   font-size: 100px;
}
