@font-face {
    font-family: MaldenSansBoldItalic;
    src: url("../fonts/MaldenSans-BoldItalic.ttf");
}

@font-face {
    font-family: MaldenSansRegular;
    src: url("../fonts/MaldenSans-Regular.ttf");
}

@font-face {
    font-family: MulishBold;
    src: url("../fonts/Mulish-Bold.ttf");
}

@font-face {
    font-family: MulishItalic;
    src: url("../fonts/Mulish-Italic.ttf");
}

@font-face {
    font-family: MulishLight;
    src: url("../fonts/Mulish-Light.ttf");
}

@font-face {
    font-family: MulishRegular;
    src: url("../fonts/Mulish-Regular.ttf");
}

@font-face {
    font-family: MulishSemiBold;
    src: url("../fonts/Mulish-SemiBold.ttf");
}